{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<title>FT9JA - Login </title>
</head>
<body class="auth-body">
	<section class="auth">
		<!-- <div class="container"> -->
			<div class="auth-card">
				<div class="test">
					<div class="form-block">
						<h3>Sign In</h3>
						<p>
							Don't have an account? <a href="/register">Register</a> 
						</p>
					</div>
					<form action="/login/" method="POST">
						{% csrf_token %}
						<div class="form-group">
							 <label for="email">Email</label> <br>
							 {{ form.username }}
						</div>
						<div class="form-group">
							<label for="password">Password</label> <br>
							{{ form.password }}
						</div>
						{% if form.non_field_errors %}
							<span class='validation-error'>
								{% for error in form.non_field_errors %}
								{{ error }}
								{% endfor %}
							</span>
						{% endif %}
	 
						<button type="submit" class="auth-submit">Log In </button>
						
					</form>
				</div>
				
			   
			</div>
		<!-- </div> -->
	</section>
	
	<!-- JQuery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<!-- Toastr JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!--  Toastr -->
	{% if messages %}
		{% for message in messages %}
			{% if message.tags == 'success' %}
			<script>
				let message = '{{ message }}';
				toastr.options = {
					"closeButton": true,
					"debug": false,
					"newestOnTop": false,
					"progressBar": true,
					"preventDuplicates": true,
					"onclick": null,
					"showDuration": "1000",
					"hideDuration": "1000",
					"timeOut": "5000",
					"extendedTimeOut": "1000",
					"showEasing": "swing",
					"hideEasing": "linear",
					"showMethod": "show",
					"hideMethod": "hide"
				};
				toastr.success(message);		
			</script>
			{% endif %}
		{% endfor %}
	{% endif %}
</body>
</html>